# Django #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
static/
img_temp/

# Virtualenv
.venv/
env/
ENV/
env.bak/
venv/
venv.bak/
.Python

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Editor
.DS_Store

# Scripts locais
start_all.command
stop_all.command
venv.sh
old_start_server.sh
setup_app.py
setup_admin.py
setup_model.py
setup_basemodel.py

# PyCharm / JetBrains #
.idea/
*.iws
out/

# Python #
*.py[cod]
*$py.class
__pycache__/

# Distribuição
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage / Testes
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.mypy_cache/

# Celery
celerybeat-schedule.*

# Jupyter
.ipynb_checkpoints

# mkdocs
/site

# SageMath
*.sage.py

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# SFTP
sftp-config.json

# Package Control (Sublime)
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# Tests template
tests_template/

isort.cfg
editorconfig